settings.ini
Gemfile.lock
image/mnt/c/Users/sarah/vscode/VSCode-Fastpages/images/copied_from_nb
/mnt/c/Users/sarah/vscode/VSCode-Fastpages/_notebooks/database.db
/mnt/c/Users/sarah/vscode/VSCode-Fastpages/_notebooks/hacksIMGdatabase.db