<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/DNHSLogo.png" height="50" title="Frontend Table" alt=""></td>
        <td><a href="https://a1234l.github.io/VSCode-Fastpages/">Home</a></td>
        <td><a href="https://a1234l.github.io/VSCode-Fastpages/_pages/04_Frontend.html">Frontend Page</a></td>
        <td><a href="https://a1234l.github.io/VSCode-Fastpages/about/">About</a></td>
        <td><a href="https://studio.code.org/projects/applab/Tg3_GpFr9KB8mNP_-0pWRLWFE3MuP4VJgkmq5V9jiEI">Quiz</a></td>
    </tr>
</table>